# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
**/AndroidManifest.xml.bak

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Pods/
ios/Runner.xcworkspace/
ios/GoogleService-Info.plist
**/Pods/

# Secrets
*.env
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.swp
.DS_Store
